.*
!.gitignore
!.github/

*pyc
__pycache__

logs/
*.log
*.log.*

config.yaml

img/
# *.png
# *.jpg
# *.jpeg
# *.gif
# *.bmp
# *.tiff

# 安装文件和可执行文件
相关安装文件/
*.exe

# Python virtual environment
venv/
env/
.env/
.venv/
